{% extends 'base.html.twig' %}


{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               {{ render_bootstrap_menu('main') }}
          {% if app.user %}
               {{ render_bootstrap_menu('account') }}
          {% else %}
               {{ render_bootstrap_menu('anonymousaccount') }}
          {% endif %}
     </ul>
                  </div>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/galerie">Galeries</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/inventaire">Inventaires</a></li>

                        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mon profil</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                
                                <li><a class="dropdown-item" href="/login">Se connecter</a></li>
                                <li><a class="dropdown-item" href="/logout">Se déconnecter</a></li>
                                 <li><hr class="dropdown-divider" /></li>

                                <li><a class="dropdown-item" href="/objet/panier">Mon panier</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


{% block main %}

<h1>Vinyle4Life</h1>

    <p>{{ welcome }}</p>
    
{% endblock %} {# main #}

{% endblock %} {# body #}
